/* General style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(140, 140, 140);
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(250, 252, 243);
}

/* Navigation bar*/

header {
  background-color: rgb(146, 17, 29);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  font-weight: lighter;
  flex-wrap: wrap;
}

header h1 {
  color: white;
  flex-wrap: wrap;
  font-size: 48px;
}

header h1 span {
  color: gold;
  font-size: 120%;
}

header a {
  text-decoration: none;
  color: white;
  padding: 0 15px;
  font-size: 28px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-top: 15px;
}

section {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

section h2 {
  text-align: right;
  color: goldenrod;
  padding-top: 25px;
}

/* Hero design*/

.hero {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350px;
  background-image: url("../images/hero_bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero h2 {
  font-size: 38px;
  color: rgb(146, 17, 29);
  position: relative;
  font-weight: bolder;
  font-style: italic;
  text-align: right;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Main content */

.title {
  padding-right: 20px;
  display: inline-block;
  border-right: 3px, solid, goldenrod;
  font-size: 32px;
  width: 310px;
  align-self: baseline;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 760px;
  padding: 30px 0 30px 30px;
  font-size: 24px;
}

.subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 35px auto;
}

.contact-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.contact-bar a {
  padding: 10px 15px;
  line-height: 1.8;
  color: rgb(146, 17, 29);
}

.bio {
  margin-top: 45px;
}

.title img {
  width: 250px;
  padding: 20px;
  margin-left: 40px;
}

.subtitle {
  display: block;
}

.bio h4,
.bio h5 {
  display: block;
  padding-bottom: 15px;
  color: rgb(146, 17, 29);
}

.project-display {
  padding-top: 35px;
}

/* Access to repositories */

#projects {
  background-color: goldenrod;
}

.project-display h2 {
  color: white;
}

.project {
  min-height: 160px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Special first project*/

.first {
  width: 670px;
  height: 260px;
  margin: 0 auto 35px auto;
  background-position: top;
}

/* Repositories display */

.regular {
  width: 320px;
  height: 140px;
  display: flex;
  margin: 0 auto 25px auto;
}

.nametag {
  background-color: rgb(146, 17, 29);
  width: 100%;
  display: block;
  padding: 7px;
  margin-bottom: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nametag a {
  display: block;
  text-decoration: none;
}

.project h5,
.project h4 {
  color: white;
  position: relative;
  font-weight: bolder;
  text-align: right;
  margin-bottom: 5px;
  display: block;
  line-height: 1;
  padding-right: 15px;
}

.project h4 {
  font-size: 22px;
  font-weight: bolder;
}

.project h5 {
  font-size: 12px;
  font-weight: lighter;
}

/* Repository-images */

#Surf {
  background-image: url("../images/surf.jpg");
}

#LED-Wall {
  background-image: url("../images/LED.png");
}

#Calculator {
  background-image: url("../images/calc.jpg");
}

#run-buddy {
  background-image: url("../images/run-buddy.png");
}

#Horiseon {
  background-image: url("../images/horiseon.png");
}

#Robo-glad {
  background-image: url("../images/robo-glad.jpeg");
}

#Pass-gen {
  background-image: url("../images/pass-gen.jpg");
}

#pastel {
  background-image: url("../images/pastel.png");
}

/* MEDIA QUERY FOR HOVER ON LAPTOP AND DESKTOP SCREENS  */
@media screen and (min-width: 769px) {
  .project {
    opacity: 70%;
  }
  .project:hover {
    opacity: 100%;
  }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .title {
    padding: 0 auto;
    display: inline;
  }

  .title img {
    margin: 20px;
  }

  header h1 {
    font-size: 42px;
  }

  header a {
    font-size: 22px;
  }

  section h2 {
    text-align: center;
  }

  .content {
    padding: 30px 0;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .content {
    width: 680px;
  }

  .contact-bar {
    width: 75%;
    font-size: 22px;
    align-self: center;
    margin: 0 auto 0 auto;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero {
    height: 200px;
  }

  .hero h2 {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .bio {
    margin-top: 0;
  }

  .content {
    width: 85%;
  }

  .first {
    width: 94%;
    height: 90%;
  }

  .regular {
    width: 215px;
    height: 100px;
  }

  .contact-bar li {
    align-self: center;
  }
}
